<% if can? :navigate, :acknowledges %>
  <li class="nav-item dropdown <%= active_class('hosts') %>">
    <a class="nav-link dropdown-toggle" href="#" id="navbarAcksLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t('ack4nagios.acks') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarAcksLink">
      <% Site.all.each do |site| %>
	<%=link_to site, main_app.acknowledges_path(site: site), class: 'dropdown-item' %>
      <% end %>
    </div>
  </li>
<% end %>
